.telemetry-testbed.yaml.bak
.telemetry-testbed-xe-ceos.yaml.bak
.telemetry-ixiac-lab.yaml.bak
.telemetry-testbed-3nodes.yaml.bak
.telemetry-testbed-l3-topology.yaml.bak
clab-telemetry-testbed
clab-telemetry-testbed-xe-ceos
clab-telemetry-ixiac-lab
clab-telemetry-testbed-3nodes
clab-telemetry-testbed-l3-topology
.git
.github
docker/
# Carpetas generadas por containerlab en subdirectorios
clab-*/